<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83025466654-0gng42qrjvo29f4vlpi142sfjjnvgjp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83025466654-0gng42qrjvo29f4vlpi142sfjjnvgjp6</string>
	<key>API_KEY</key>
	<string>AIzaSyBs7PzrePTCzgn6yXa_F1vUXQzAxffID0o</string>
	<key>GCM_SENDER_ID</key>
	<string>83025466654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sepatuShop</string>
	<key>PROJECT_ID</key>
	<string>test-app-496b2</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-496b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83025466654:ios:9899fd3683b7a7dcb0250f</string>
</dict>
</plist>